<!DOCTYPE HTML>
<!-- <html manifest="cache-manifest.appcache"> -->
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/tabdb.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--     <script type="text/javascript" src="js/dd.js"></script> -->
<!--     <script type="text/javascript" src="js/file.js"></script> -->
    <script type="text/javascript" src="js/tabdb.js"></script>
  </head>
<!--   {% include "header.html" %} -->
  <body>
	<div id="container">
<!-- 	  <div id="header"> -->
<!-- 		<h1><a href="/">DBTab</a></h1> -->
<!-- 	  </div> -->
	  <div id="content">
		<ul>
		  <li draggable="true">hoge</li>
		  <li draggable="true">fuga</li>
		  <li draggable="true">bar</li>
		</ul>
		<table class="table001">
		  <caption>table1</caption>
		  <tr><th>a</th><th>b</th><th>c</th></tr>
		  <tr><td>xxx111</td><td>yyy111</td><td>zzz111</td><tr>
		  <tr><td>xxx222</td><td>yyy222</td><td>zzz222</td><tr>
		  <tr><td>xxx333</td><td>yyy333</td><td>zzz333</td><tr>
		</table>

<!-- 		<div id="box">IN</div> -->
<!-- 		<div id="box" ondragover="f_dragover(event)" ondrop="f_drop(event)">IN</div> -->
		<p id="test">test</p>
		<input type="file" id="selectFile"/>
<!-- 		<input type="file" accept="image/*" id="selectFile"/> -->
		<script>
//		  var readFile = function(file) {
//			console.log('readFile');
//			console.log(file);
//
//			var reader = new FileReader();
//			console.log(reader);
//			reader.readAsText(file);
//
//			reader.onload = function(event) {
//	          console.log('readeronload');
//			  alert('onload');
//			  var textData = event.target.result;
//			  alert(textData);
//			}
//
//			reader.onerror = function() {
//			  alert('error');
//			}
//		  };
//
//		  document.getElementById('selectFile').onchange = function(event) {
//			var file = event.target.files[0];
//			alert(file.name + ' is selected.');
//			readFile(file);
//		  };
		</script>
	  </div>
	</div>
<!-- 	{% include "footer.html" %} -->
  </body>
</html>
