<!DOCTYPE HTML>
<!-- <html manifest="cache-manifest.appcache"> -->
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/tabdb.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/tabdb.js"></script>
    <script type="text/javascript" src="js/dd.js"></script>
  </head>
<!--   {% include "header.html" %} -->
  <body>
	<div id="container">
<!-- 	  <div id="header"> -->
<!-- 		<h1><a href="/">DBTab</a></h1> -->
<!-- 	  </div> -->
	  <div id="content">
		<ul>
		  <li draggable="true">hoge</li>
		  <li draggable="true">fuga</li>
		  <li draggable="true">bar</li>
		</ul>

		<div id="box">IN</div>
<!-- 		<div id="box" ondragover="f_dragover(event)" ondrop="f_drop(event)">IN</div> -->
		<p id="test">test</p>
	  </div>
	</div>
<!-- 	{% include "footer.html" %} -->
  </body>
</html>
